# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS
.DS_Store
*.swp
*.swo

# Build
vendor
build
tools/bin/*
docs/_build

# Testing
coverage.txt
profile.out

# IDE
.idea/
*.iml
.vscode
.idea

# Graphviz
dependency-graph.png

# Secrets
secrets
