[Unit]
Description=thorchaind
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=thorchaind
Group=thorchaind
PermissionsStartOnly=true
ExecStart=/usr/bin/thorchaind start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

